### 파이썬 미니 프로젝트 11조

In [2]:
import requests
import pandas as pd

#### 1. 데이터 수집

In [3]:
# url과 파라미터 설정 + 결과 확인
url = 'http://apis.data.go.kr/1352000/ODMS_STAT_09/callStat09Api'
params ={'serviceKey' : '6cdI5opnnlwXVsoc0GchdC0FnqbWy8CX59NDqgUFfu2KdVqufZUzXZX+rsEOlPrbLD/i8bjGuHxC2y2TEKy85A==', 'apiType' : 'JSON'}

response = requests.get(url, params=params)
print(response.content)

# 서버의 응답 상태 출력
print(response.status_code)

b'{"pageNo":"1","resultCode":"00","totalCount":68,"items":[{"dsStdrSrvrt":"13.6","allSvr":"14","allStdrSrvrt":"9.3","year":"2016","dsSvr":"11","othdsStdrSrvrt":"6","dsSrvrt":"13.9","othdsSvr":"3","dvsd":"\xec\x84\xb8\xec\xa2\x85","allSrvrt":"11.9","othdsSrvrt":"7.9"},{"dsStdrSrvrt":"8.6","allSvr":"71","allStdrSrvrt":"5.5","year":"2016","dsSvr":"59","othdsStdrSrvrt":"2.8","dsSrvrt":"5.5","othdsSvr":"12","dvsd":"\xec\xa0\x84\xeb\x82\xa8","allSrvrt":"4.7","othdsSrvrt":"2.8"},{"dsStdrSrvrt":"10.8","allSvr":"37","allStdrSrvrt":"7.8","year":"2017","dsSvr":"30","othdsStdrSrvrt":"5.1","dsSrvrt":"6","othdsSvr":"7","dvsd":"\xec\xa0\x9c\xec\xa3\xbc","allSrvrt":"5.8","othdsSrvrt":"5.5"},{"dsStdrSrvrt":"11.1","allSvr":"92","allStdrSrvrt":"8.1","year":"2016","dsSvr":"86","othdsStdrSrvrt":"2.3","dsSrvrt":"8.5","othdsSvr":"6","dvsd":"\xeb\x8c\x80\xea\xb5\xac","allSrvrt":"7","othdsSrvrt":"2.1"},{"dsStdrSrvrt":"8.8","allSvr":"69","allStdrSrvrt":"6.2","year":"2016","dsSvr":"59","othdsStdrSrvrt":"2.4","dsSrvrt":"6.1","othdsSvr":"10","dvsd":"\xec\xa0\x84\xeb\xb6\x81","allSrvrt":"5.1","othdsSrvrt":"2.7"},{"dsStdrSrvrt":"14.2","allSvr":"55","allStdrSrvrt":"10.9","year":"2016","dsSvr":"45","othdsStdrSrvrt":"7.8","dsSrvrt":"12.7","othdsSvr":"10","dvsd":"\xec\x9a\xb8\xec\x82\xb0","allSrvrt":"10.9","othdsSrvrt":"7.3"},{"dsStdrSrvrt":"9.3","allSvr":"110","allStdrSrvrt":"6.4","year":"2016","dsSvr":"90","othdsStdrSrvrt":"3.6","dsSrvrt":"6.3","othdsSvr":"18","dvsd":"\xea\xb2\xbd\xeb\x82\xa8","allSrvrt":"5.5","othdsSrvrt":"3.5"},{"dsStdrSrvrt":"16.7","allSvr":"495","allStdrSrvrt":"13.4","year":"2019","dsSvr":"434","othdsStdrSrvrt":"5.9","dsSrvrt":"12.4","othdsSvr":"41","dvsd":"\xec\x84\x9c\xec\x9a\xb8","allSrvrt":"11.3","othdsSrvrt":"5.3"},{"dsStdrSrvrt":"9.9","allSvr":"41","allStdrSrvrt":"8.5","year":"2018","dsSvr":"32","othdsStdrSrvrt":"6.4","dsSrvrt":"6.3","othdsSvr":"8","dvsd":"\xec\xa0\x9c\xec\xa3\xbc","allSrvrt":"6.2","othdsSrvrt":"5.6"},{"dsStdrSrvrt":"15.8","allSvr":"164","allStdrSrvrt":"12.7","year":"2017","dsSvr":"136","othdsStdrSrvrt":"10.2","dsSrvrt":"11.9","othdsSvr":"28","dvsd":"\xec\x9d\xb8\xec\xb2\x9c","allSrvrt":"11.3","othdsSrvrt":"9.2"},{"dsStdrSrvrt":"15.1","allSvr":"112","allStdrSrvrt":"10.6","year":"2019","dsSvr":"103","othdsStdrSrvrt":"null","dsSrvrt":"10.2","othdsSvr":"null","dvsd":"\xeb\x8c\x80\xea\xb5\xac","allSrvrt":"8.7","othdsSrvrt":"null"},{"dsStdrSrvrt":"12.2","allSvr":"85","allStdrSrvrt":"7.4","year":"2019","dsSvr":"76","othdsStdrSrvrt":"null","dsSrvrt":"7.8","othdsSvr":"null","dvsd":"\xec\xa0\x84\xeb\xb6\x81","allSrvrt":"6.2","othdsSrvrt":"null"},{"dsStdrSrvrt":"14.5","allSvr":"591","allStdrSrvrt":"11.4","year":"2017","dsSvr":"497","othdsStdrSrvrt":"6.9","dsSrvrt":"11.2","othdsSvr":"94","dvsd":"\xea\xb2\xbd\xea\xb8\xb0","allSrvrt":"10.1","othdsSrvrt":"6.8"},{"dsStdrSrvrt":"11.4","allSvr":"83","allStdrSrvrt":"7.5","year":"2018","dsSvr":"71","othdsStdrSrvrt":"2.6","dsSrvrt":"7.9","othdsSvr":"11","dvsd":"\xec\xa0\x84\xeb\xb6\x81","allSrvrt":"6.4","othdsSrvrt":"2.9"},{"dsStdrSrvrt":"11.4","allSvr":"88","allStdrSrvrt":"7.7","year":"2017","dsSvr":"78","othdsStdrSrvrt":"2.6","dsSrvrt":"8.4","othdsSvr":"10","dvsd":"\xec\xa0\x84\xeb\xb6\x81","allSrvrt":"6.5","othdsSrvrt":"2.5"},{"dsStdrSrvrt":"17.8","allSvr":"564","allStdrSrvrt":"14.3","year":"2018","dsSvr":"506","othdsStdrSrvrt":"7","dsSrvrt":"13.5","othdsSvr":"57","dvsd":"\xec\x84\x9c\xec\x9a\xb8","allSrvrt":"12.1","othdsSrvrt":"6.4"},{"dsStdrSrvrt":"13.9","allSvr":"581","allStdrSrvrt":"10.3","year":"2018","dsSvr":"508","othdsStdrSrvrt":"5.3","dsSrvrt":"10.1","othdsSvr":"73","dvsd":"\xea\xb2\xbd\xea\xb8\xb0","allSrvrt":"8.9","othdsSrvrt":"5"},{"dsStdrSrvrt":"14.8","allSvr":"15","allStdrSrvrt":"11.1","year":"2018","dsSvr":"12","othdsStdrSrvrt":"2.9","dsSrvrt":"14","othdsSvr":"3","dvsd":"\xec\x84\xb8\xec\xa2\x85","allSrvrt":"10.9","othdsSrvrt":"6.1"},{"dsStdrSrvrt":"12","allSvr":"51","allStdrSrvrt":"8.7","year":"2019","dsSvr":"46","othdsStdrSrvrt":"null","dsSrvrt":"9.7","othdsSvr":"null","dvsd":"\xec\x9a\xb8\xec\x82\xb0","allSrvrt":"8.2","othdsSrvrt":"null"},{"dsStdrSrvrt":"17.6","allSvr":"70","allStdrSrvrt":"11.5","year":"2018","dsSvr":"65","othdsStdrSrvrt":"4","dsSrvrt":"12.1","othdsSvr":"5","dvsd":"\xeb\x8c\x80\xec\xa0\x84","allSrvrt":"9.8","othdsSrvrt":"2.9"},{"dsStdrSrvrt":"12","allSvr":"158","allStdrSrvrt":"8.4","year":"2018","dsSvr":"134","othdsStdrSrvrt":"3.9","dsSrvrt":"8.4","othdsSvr":"24","dvsd":"\xea\xb2\xbd\xeb\x82\xa8","allSrvrt":"7.2","othdsSrvrt":"4.1"},{"dsStdrSrvrt":"13.7","allSvr":"10","allStdrSrvrt":"9.8","year":"2017","dsSvr":"9","othdsStdrSrvrt":"2.3","dsSrvrt":"11.8","othdsSvr":"1","dvsd":"\xec\x84\xb8\xec\xa2\x85","allSrvrt":"9","othdsSrvrt":"3.4"},{"dsStdrSrvrt":"13.6","allSvr":"109","allStdrSrvrt":"9.5","year":"2018","dsSvr":"93","othdsStdrSrvrt":"5.6","dsSrvrt":"8.7","othdsSvr":"16","dvsd":"\xeb\x8c\x80\xea\xb5\xac","allSrvrt":"8.2","othdsSrvrt":"6.2"},{"dsStdrSrvrt":"11.2","allSvr":"124","allStdrSrvrt":"7.6","year":"2019","dsSvr":"108","othdsStdrSrvrt":"3.8","dsSrvrt":"7.7","othdsSvr":"16","dvsd":"\xea\xb2\xbd\xeb\x82\xa8","allSrvrt":"6.4","othdsSrvrt":"3.1"},{"dsStdrSrvrt":"12.7","allSvr":"64","allStdrSrvrt":"10.7","year":"2017","dsSvr":"50","othdsStdrSrvrt":"7.8","dsSrvrt":"11.2","othdsSvr":"14","dvsd":"\xea\xb4\x91\xec\xa3\xbc","allSrvrt":"10.3","othdsSrvrt":"8.1"},{"dsStdrSrvrt":"9.5","allSvr":"94","allStdrSrvrt":"7.3","year":"2019","dsSvr":"77","othdsStdrSrvrt":"4.3","dsSrvrt":"6.4","othdsSvr":"16","dvsd":"\xec\xa0\x84\xeb\x82\xa8","allSrvrt":"5.8","othdsSrvrt":"3.8"},{"dsStdrSrvrt":"13.3","allSvr":"184","allStdrSrvrt":"10.5","year":"2017","dsSvr":"154","othdsStdrSrvrt":"7","dsSrvrt":"10.8","othdsSvr":"29","dvsd":"\xeb\xb6\x80\xec\x82\xb0","allSrvrt":"9.9","othdsSrvrt":"7.1"},{"dsStdrSrvrt":"10.2","allSvr":"67","allStdrSrvrt":"6.1","year":"2016","dsSvr":"59","othdsStdrSrvrt":"2.6","dsSrvrt":"6.7","othdsSvr":"8","dvsd":"\xec\xb6\xa9\xeb\xb6\x81","allSrvrt":"5.3","othdsSrvrt":"2.1"},{"dsStdrSrvrt":"16.4","allSvr":"512","allStdrSrvrt":"12.9","year":"2016","dsSvr":"445","othdsStdrSrvrt":"7.8","dsSrvrt":"12.4","othdsSvr":"66","dvsd":"\xec\x84\x9c\xec\x9a\xb8","allSrvrt":"11.4","othdsSrvrt":"7.5"},{"dsStdrSrvrt":"16.2","allSvr":"57","allStdrSrvrt":"11.9","year":"2017","dsSvr":"51","othdsStdrSrvrt":"3.7","dsSrvrt":"13.6","othdsSvr":"6","dvsd":"\xec\x9a\xb8\xec\x82\xb0","allSrvrt":"11.4","othdsSrvrt":"5"},{"dsStdrSrvrt":"14.1","allSvr":"63","allStdrSrvrt":"10.1","year":"2017","dsSvr":"56","othdsStdrSrvrt":"4.7","dsSrvrt":"11.7","othdsSvr":"7","dvsd":"\xeb\x8c\x80\xec\xa0\x84","allSrvrt":"9.8","othdsSrvrt":"4.3"},{"dsStdrSrvrt":"11.4","allSvr":"103","allStdrSrvrt":"9.5","year":"2017","dsSvr":"90","othdsStdrSrvrt":"5.8","dsSrvrt":"8.8","othdsSvr":"12","dvsd":"\xeb\x8c\x80\xea\xb5\xac","allSrvrt":"8","othdsSrvrt":"4.9"},{"dsStdrSrvrt":"13.1","allSvr":"192","allStdrSrvrt":"10.7","year":"2019","dsSvr":"171","othdsStdrSrvrt":"4.6","dsSrvrt":"10.7","othdsSvr":"21","dvsd":"\xeb\xb6\x80\xec\x82\xb0","allSrvrt":"9.6","othdsSrvrt":"5.3"},{"dsStdrSrvrt":"10.6","allSvr":"85","allStdrSrvrt":"7.8","year":"2016","dsSvr":"61","othdsStdrSrvrt":"6.9","dsSrvrt":"6","othdsSvr":"24","dvsd":"\xea\xb0\x95\xec\x9b\x90","allSrvrt":"6.1","othdsSrvrt":"6.4"},{"dsStdrSrvrt":"10.1","allSvr":"105","allStdrSrvrt":"8","year":"2017","dsSvr":"86","othdsStdrSrvrt":"3.8","dsSrvrt":"7.9","othdsSvr":"19","dvsd":"\xec\xb6\xa9\xeb\x82\xa8","allSrvrt":"6.7","othdsSrvrt":"4.2"},{"dsStdrSrvrt":"16.4","allSvr":"14","allStdrSrvrt":"12.1","year":"2019","dsSvr":"14","othdsStdrSrvrt":"null","dsSrvrt":"18.7","othdsSvr":"null","dvsd":"\xec\x84\xb8\xec\xa2\x85","allSrvrt":"13.5","othdsSrvrt":"null"},{"dsStdrSrvrt":"15.4","allSvr":"157","allStdrSrvrt":"11.5","year":"2019","dsSvr":"137","othdsStdrSrvrt":"5.7","dsSrvrt":"11.5","othdsSvr":"20","dvsd":"\xec\x9d\xb8\xec\xb2\x9c","allSrvrt":"10.2","othdsSrvrt":"5.8"},{"dsStdrSrvrt":"16.6","allSvr":"74","allStdrSrvrt":"12.1","year":"2019","dsSvr":"66","othdsStdrSrvrt":"null","dsSrvrt":"13.7","othdsSvr":"null","dvsd":"\xea\xb4\x91\xec\xa3\xbc","allSrvrt":"11.5","othdsSrvrt":"null"},{"dsStdrSrvrt":"14","allSvr":"171","allStdrSrvrt":"10.5","year":"2018","dsSvr":"147","othdsStdrSrvrt":"4.9","dsSrvrt":"10","othdsSvr":"24","dvsd":"\xeb\xb6\x80\xec\x82\xb0","allSrvrt":"9","othdsSrvrt":"5.8"},{"dsStdrSrvrt":"12.3","allSvr":"491","allStdrSrvrt":"9","year":"2016","dsSvr":"423","othdsStdrSrvrt":"5.2","dsSrvrt":"9.2","othdsSvr":"68","dvsd":"\xea\xb2\xbd\xea\xb8\xb0","allSrvrt":"8.2","othdsSrvrt":"5"},{"dsStdrSrvrt":"7.9","allSvr":"90","allStdrSrvrt":"7","year":"2016","dsSvr":"66","othdsStdrSrvrt":"5.8","dsSrvrt":"6.4","othdsSvr":"24","dvsd":"\xec\xb6\xa9\xeb\x82\xa8","allSrvrt":"6.1","othdsSrvrt":"5.7"},{"dsStdrSrvrt":"11.6","allSvr":"96","allStdrSrvrt":"8.3","year":"2019","dsSvr":"80","othdsStdrSrvrt":"4.5","dsSrvrt":"8","othdsSvr":"16","dvsd":"\xec\xb6\xa9\xeb\xb6\x81","allSrvrt":"7.2","othdsSrvrt":"4.8"},{"dsStdrSrvrt":"13.3","allSvr":"109","allStdrSrvrt":"8.6","year":"2018","dsSvr":"92","othdsStdrSrvrt":"4","dsSrvrt":"8.3","othdsSvr":"17","dvsd":"\xec\xa0\x84\xeb\x82\xa8","allSrvrt":"7.1","othdsSrvrt":"4"},{"dsStdrSrvrt":"10.4","allSvr":"76","allStdrSrvrt":"7.3","year":"2017","dsSvr":"66","othdsStdrSrvrt":"3.2","dsSrvrt":"7.5","othdsSvr":"10","dvsd":"\xec\xb6\xa9\xeb\xb6\x81","allSrvrt":"6.2","othdsSrvrt":"2.9"},{"dsStdrSrvrt":"10.8","allSvr":"86","allStdrSrvrt":"7.6","year":"2017","dsSvr":"69","othdsStdrSrvrt":"4.3","dsSrvrt":"6.9","othdsSvr":"17","dvsd":"\xea\xb0\x95\xec\x9b\x90","allSrvrt":"6.2","othdsSrvrt":"4.6"},{"dsStdrSrvrt":"14.1","allSvr":"109","allStdrSrvrt":"9.1","year":"2019","dsSvr":"91","othdsStdrSrvrt":"4.3","dsSrvrt":"9","othdsSvr":"18","dvsd":"\xea\xb0\x95\xec\x9b\x90","allSrvrt":"7.8","othdsSrvrt":"4.6"},{"dsStdrSrvrt":"14.1","allSvr":"151","allStdrSrvrt":"10.4","year":"2018","dsSvr":"133","othdsStdrSrvrt":"5.5","dsSrvrt":"11.4","othdsSvr":"18","dvsd":"\xec\x9d\xb8\xec\xb2\x9c","allSrvrt":"9.7","othdsSrvrt":"4.8"},{"dsStdrSrvrt":"19.8","allSvr":"66","allStdrSrvrt":"13","year":"2018","dsSvr":"53","othdsStdrSrvrt":"8.9","dsSrvrt":"12.6","othdsSvr":"13","dvsd":"\xea\xb4\x91\xec\xa3\xbc","allSrvrt":"11.6","othdsSrvrt":"9"},{"dsStdrSrvrt":"12.6","allSvr":"89","allStdrSrvrt":"8.5","year":"2018","dsSvr":"69","othdsStdrSrvrt":"5.1","dsSrvrt":"7.8","othdsSvr":"20","dvsd":"\xec\xb6\xa9\xeb\xb6\x81","allSrvrt":"7.1","othdsSrvrt":"5.8"},{"dsStdrSrvrt":"9.2","allSvr":"109","allStdrSrvrt":"6.2","year":"2018","dsSvr":"89","othdsStdrSrvrt":"3.2","dsSrvrt":"5.8","othdsSvr":"20","dvsd":"\xea\xb2\xbd\xeb\xb6\x81","allSrvrt":"5","othdsSrvrt":"3.1"},{"dsStdrSrvrt":"8.5","allSvr":"80","allStdrSrvrt":"6.3","year":"2017","dsSvr":"64","othdsStdrSrvrt":"3.1","dsSrvrt":"5.7","othdsSvr":"14","dvsd":"\xec\xa0\x84\xeb\x82\xa8","allSrvrt":"5.1","othdsSrvrt":"3.2"},{"dsStdrSrvrt":"13.3","allSvr":"58","allStdrSrvrt":"10.1","year":"2016","dsSvr":"50","othdsStdrSrvrt":"5","dsSrvrt":"10.3","othdsSvr":"8","dvsd":"\xea\xb4\x91\xec\xa3\xbc","allSrvrt":"9.2","othdsSrvrt":"5.6"},{"dsStdrSrvrt":"17.5","allSvr":"567","allStdrSrvrt":"14.3","year":"2017","dsSvr":"496","othdsStdrSrvrt":"7.8","dsSrvrt":"13.7","othdsSvr":"67","dvsd":"\xec\x84\x9c\xec\x9a\xb8","allSrvrt":"12.7","othdsSrvrt":"7.9"},{"dsStdrSrvrt":"10.4","allSvr":"119","allStdrSrvrt":"8.1","year":"2018","dsSvr":"94","othdsStdrSrvrt":"4.8","dsSrvrt":"8","othdsSvr":"24","dvsd":"\xec\xb6\xa9\xeb\x82\xa8","allSrvrt":"7","othdsSrvrt":"4.6"},{"dsStdrSrvrt":"11.6","allSvr":"125","allStdrSrvrt":"8.9","year":"2016","dsSvr":"110","othdsStdrSrvrt":"4.5","dsSrvrt":"9.6","othdsSvr":"15","dvsd":"\xec\x9d\xb8\xec\xb2\x9c","allSrvrt":"8.2","othdsSrvrt":"4"},{"dsStdrSrvrt":"7.3","allSvr":"92","allStdrSrvrt":"4.8","year":"2016","dsSvr":"84","othdsStdrSrvrt":"1.4","dsSrvrt":"5.4","othdsSvr":"8","dvsd":"\xea\xb2\xbd\xeb\xb6\x81","allSrvrt":"4.3","othdsSrvrt":"1.4"},{"dsStdrSrvrt":"11.7","allSvr":"59","allStdrSrvrt":"9.3","year":"2016","dsSvr":"52","othdsStdrSrvrt":"4","dsSrvrt":"10","othdsSvr":"7","dvsd":"\xeb\x8c\x80\xec\xa0\x84","allSrvrt":"8.4","othdsSrvrt":"4"},{"dsStdrSrvrt":"10","allSvr":"133","allStdrSrvrt":"7.3","year":"2017","dsSvr":"117","othdsStdrSrvrt":"3","dsSrvrt":"8.1","othdsSvr":"15","dvsd":"\xea\xb2\xbd\xeb\x82\xa8","allSrvrt":"6.7","othdsSrvrt":"2.9"},{"dsStdrSrvrt":"8.5","allSvr":"89","allStdrSrvrt":"5.5","year":"2017","dsSvr":"76","othdsStdrSrvrt":"2.2","dsSrvrt":"4.9","othdsSvr":"12","dvsd":"\xea\xb2\xbd\xeb\xb6\x81","allSrvrt":"4.1","othdsSrvrt":"2.2"},{"dsStdrSrvrt":"13","allSvr":"50","allStdrSrvrt":"11","year":"2019","dsSvr":"43","othdsStdrSrvrt":"null","dsSrvrt":"8.8","othdsSvr":"null","dvsd":"\xec\xa0\x9c\xec\xa3\xbc","allSrvrt":"8","othdsSrvrt":"null"},{"dsStdrSrvrt":"12.9","allSvr":"56","allStdrSrvrt":"9.8","year":"2018","dsSvr":"50","othdsStdrSrvrt":"3.6","dsSrvrt":"12","othdsSvr":"6","dvsd":"\xec\x9a\xb8\xec\x82\xb0","allSrvrt":"9.8","othdsSrvrt":"4"},{"dsStdrSrvrt":"13.2","allSvr":"174","allStdrSrvrt":"10.1","year":"2016","dsSvr":"145","othdsStdrSrvrt":"5.8","dsSrvrt":"9.8","othdsSvr":"26","dvsd":"\xeb\xb6\x80\xec\x82\xb0","allSrvrt":"9.1","othdsSrvrt":"6.3"},{"dsStdrSrvrt":"18.4","allSvr":"79","allStdrSrvrt":"12.8","year":"2019","dsSvr":"71","othdsStdrSrvrt":"null","dsSrvrt":"12.6","othdsSvr":"null","dvsd":"\xeb\x8c\x80\xec\xa0\x84","allSrvrt":"10.7","othdsSrvrt":"null"},{"dsStdrSrvrt":"14.5","allSvr":"653","allStdrSrvrt":"10.9","year":"2019","dsSvr":"568","othdsStdrSrvrt":"5.6","dsSrvrt":"10.8","othdsSvr":"79","dvsd":"\xea\xb2\xbd\xea\xb8\xb0","allSrvrt":"9.6","othdsSrvrt":"5.2"},{"dsStdrSrvrt":"11.3","allSvr":"91","allStdrSrvrt":"8.2","year":"2018","dsSvr":"78","othdsStdrSrvrt":"3.4","dsSrvrt":"7.6","othdsSvr":"13","dvsd":"\xea\xb0\x95\xec\x9b\x90","allSrvrt":"6.5","othdsSrvrt":"3.5"},{"dsStdrSrvrt":"9.3","allSvr":"123","allStdrSrvrt":"7.2","year":"2019","dsSvr":"102","othdsStdrSrvrt":"4.8","dsSrvrt":"6.2","othdsSvr":"21","dvsd":"\xea\xb2\xbd\xeb\xb6\x81","allSrvrt":"5.8","othdsSrvrt":"4.3"},{"dsStdrSrvrt":"12.6","allSvr":"115","allStdrSrvrt":"8.2","year":"2019","dsSvr":"93","othdsStdrSrvrt":"4.2","dsSrvrt":"7.5","othdsSvr":"21","dvsd":"\xec\xb6\xa9\xeb\x82\xa8","allSrvrt":"6.6","othdsSrvrt":"4.3"},{"dsStdrSrvrt":"9.7","allSvr":"39","allStdrSrvrt":"7.6","year":"2016","dsSvr":"29","othdsStdrSrvrt":"6.9","dsSrvrt":"6.3","othdsSvr":"10","dvsd":"\xec\xa0\x9c\xec\xa3\xbc","allSrvrt":"6.2","othdsSrvrt":"6.3"}],"numOfRows":"500","resultMsg":"NORMAL SERVICE"}'
200

In [4]:
def api_df(num):
    
    url = f'http://apis.data.go.kr/1352000/ODMS_STAT_{num}/callStat{num}Api'
    params ={'serviceKey' : '6cdI5opnnlwXVsoc0GchdC0FnqbWy8CX59NDqgUFfu2KdVqufZUzXZX+rsEOlPrbLD/i8bjGuHxC2y2TEKy85A==', 
             'apiType' : 'JSON'}

    response = requests.get(url, params=params)
    # 응답 상태가 정상인 경우 (200)에 데이터프레임 반환
    if response.status_code == 200:
        data = response.json()
        df = pd.DataFrame(data['items'])
        return df
    else:
        print(f"오류 발생: {response.status_code}")

In [5]:
# 급성심장정지 발생률
heart_occur = api_df('08')
heart_occur

,allStdrOcrt,othdsOcrt,year,dsStdrOcrt,allOcrt,allOccr,dsOcrt,dvsd,dsOccr,othdsStdrOcrt,othdsOccr
0,55.1,24.1,2018,33.1,98,1503,66.8,강원,1024,18.3,370
1,50.5,24.9,2018,30.8,81.5,1718,55.9,충남,1178,19.3,525
2,43,17.4,2018,28.5,66.4,2229,47.8,경남,1604,13.8,585
3,38.5,11.9,2016,27.5,56.2,1947,42.5,부산,1475,9.8,414
4,66.5,25.5,2016,43.2,100.6,632,73.7,제주,463,22.2,160
...,...,...,...,...,...,...,...,...,...,...,...
63,42.6,12.8,2016,30.6,53.4,1551,39.3,인천,1142,10.9,371
64,33.9,9.2,2018,25.9,48.9,4717,39,서울,3757,7.5,886
65,45.6,22.3,2019,28.5,89,1658,64.3,전남,1199,15.8,416
66,43,21.7,2019,27.1,76,1381,53.8,전북,977,15.5,394
67,36.4,11.8,2017,26,54.2,1869,41.6,부산,1432,9.7,407

In [6]:
# 급성심장정지 생존율
heart_live = api_df('09')
heart_live

,dsStdrSrvrt,allSvr,allStdrSrvrt,year,dsSvr,othdsStdrSrvrt,dsSrvrt,othdsSvr,dvsd,allSrvrt,othdsSrvrt
0,13.6,14,9.3,2016,11,6,13.9,3,세종,11.9,7.9
1,8.6,71,5.5,2016,59,2.8,5.5,12,전남,4.7,2.8
2,10.8,37,7.8,2017,30,5.1,6,7,제주,5.8,5.5
3,11.1,92,8.1,2016,86,2.3,8.5,6,대구,7,2.1
4,8.8,69,6.2,2016,59,2.4,6.1,10,전북,5.1,2.7
...,...,...,...,...,...,...,...,...,...,...,...
63,14.5,653,10.9,2019,568,5.6,10.8,79,경기,9.6,5.2
64,11.3,91,8.2,2018,78,3.4,7.6,13,강원,6.5,3.5
65,9.3,123,7.2,2019,102,4.8,6.2,21,경북,5.8,4.3
66,12.6,115,8.2,2019,93,4.2,7.5,21,충남,6.6,4.3
67,9.7,39,7.6,2016,29,6.9,6.3,10,제주,6.2,6.3

In [7]:
# 급성심장정지 뇌기능 회복률
heart_heal = api_df('10')
heart_heal

,allStbfnRcvr,othdsStbfnRcvr,dsBrfr,allBrfr,dsBrfrr,year,allBrfcRcvr,dsStbfnRcvr,othdsBrfr,dvsd,othdsBrfcRcvr
0,6.8,1.6,77,82,6.8,2017,5.6,10,5,인천,1.6
1,3.6,1.7,48,58,3.1,2017,2.7,5.4,9,경북,1.6
2,10.2,null,41,46,8.4,2019,7.4,12.5,null,제주,null
3,3.7,1,56,61,3.9,2016,3.1,5.9,4,경남,0.8
4,3.6,2.1,34,42,3.3,2016,2.9,4.8,8,충남,1.9
...,...,...,...,...,...,...,...,...,...,...,...
63,6.1,2.3,6,7,7.9,2017,6.3,8.7,1,세종,3.4
64,7.1,1,262,271,7.3,2016,6,10.6,8,서울,0.9
65,4.9,2.5,54,67,4.6,2018,3.9,6.6,12,충남,2.3
66,6.4,1.2,332,348,6.6,2018,5.4,9.8,16,경기,1.1
67,4.7,3.2,18,23,3.9,2016,3.7,6.2,5,제주,3.1

In [8]:
# 전국 병원 데이터 csv 파일 불러오기기
hospital_df = pd.read_csv("보건복지부_병원 및 의원 수_의료기관 종류별_시도별_20221231.csv", encoding='cp949')
hospital_df.head()

,연도,시도,병의원_종합병원,병의원_요양병원,병의원_일반병원,병의원_의원,특수병원_결핵,특수병원_한센,특수병원_정신,치과병 의원_치과병원,치과병 의원_치과의원,한방병 의원_한방병원,한방병 의원_한의원,부속의원,조산원
0,2015,서울 Seoul,56,102,217,7778,1,0,1,68,4678,39,3540,42,5
1,2015,부산 Busan,28,179,130,2192,0,0,11,19,1206,9,1098,6,4
2,2015,대구 Daegu,12,61,114,1611,0,0,0,17,825,2,841,6,2
3,2015,인천 Incheon,19,60,55,1440,0,0,4,4,830,14,607,4,2
4,2015,광주 Gwangju,22,49,75,887,0,0,0,11,576,84,304,7,0

#### 2. 데이터 전처리

In [36]:
# 병원 데이터 필요한 컬럼만 남기기 (연도, 시도, 종합병원, 일반병원)
hospital_df = hospital_df[['연도', '시도', '병의원_종합병원', '병의원_일반병원']]
hospital_df.head()

     연도          시도  병의원_종합병원  병의원_일반병원
0  2015    서울 Seoul        56       217
1  2015    부산 Busan        28       130
2  2015    대구 Daegu        12       114
3  2015  인천 Incheon        19        55
4  2015  광주 Gwangju        22        75

#### 3. 데이터 분석 (EDA & 상관관계 분석)

#### 4. 시각화